snippet e "if error not nil"
if err != nil {
	return err
} ${0}
endsnippet

snippet ne "if error not nil"
if err != nil {
	return nil, err
} ${0}
endsnippet

snippet ie "if error not nil"
if err != nil {
	${1:return nil, err}
} ${0}
endsnippet

snippet io "if ok is false"
if !ok {
	${1:<CONTENT>}
}
${0:<END>}
endsnippet

# json field tag
snippet .v "\`json:key\`"
type ${1:`!v  go#util#snippetcase(matchstr(getline("."), '\w\+'))`} struct {
	$2
}
endsnippet
